.navbar-container {
  width: 100%;
  height: 56px;
  border: 2px solid red;
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container{
  width: 150px;
  // height: 10px;
  // border: 2px solid red;

  img{
    width: 100%;
    height: 100%;
  }
}
