code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
 }

 /*
   1. Use a more-intuitive box-sizing model.
 */
 *,
 *::before,
 *::after {
  box-sizing: border-box;
 }

 /*
   2. Remove default margin
 */
 * {
   margin: 0;
   box-sizing: border-box;
 }

 /*
   3. Allow percentage-based heights in the application
 */
 html,
 body {
  height: 100%;
 }

 /*
   Typographic tweaks!
   4. Add accessible line-height
   5. Improve text rendering
 */
 body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Raleway', sans-serif;
 }

 /*
   6. Improve media defaults
 */
 img,
 picture,
 video,
 canvas,
 svg {
  display: block;
  max-width: 100%;
 }

 /*
   7. Remove built-in form typography styles
 */
 input,
 button,
 textarea,
 select {
  font: inherit;
 }

 /*
   8. Avoid text overflows
 */
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  overflow-wrap: break-word;
  hyphens: auto; //* testing but it's worth experimenting with!*/
 }

 /*
   9. Create a root stacking context
 */
 #root,
 #__next {
  isolation: isolate;
 }


 /* HTML5 display-role reset for older browsers */
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
   display: block;
 }

 ol,
 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
   color: black;
 }

 blockquote,
 q {
   quotes: none;
 }

 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
   content: "";
   content: none;
 }

 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

 :root {
	--main-text-lightMode: rgb(58, 58, 58);
	--main-text-darkMode: rgb(233, 239, 239);
	--main-bg-lightMode: rgb(233, 239, 239);
	--main-bg-darkMode: rgb(23, 27, 33);
	/* navbar  */
	--nav-bg-color-lightMode: rgb(233, 239, 239);
	--nav-bg-color-darkMode: rgb(23, 27, 33);
	--nav-text-color-lightMode: rgb(58, 58, 58);
	--nav-text-color-darkMode: rgb(233, 239, 239);
	--nav-btn-color-lightMode: rgb(233, 239, 239);
	--nav-btn-color-darkMode: rgb(23, 27, 33);
	--nav-btn-border-lightMode: #8e8e8e;
	--nav-btn-border-darkMode: rgb(200, 200, 200);
	/* header  */
	--hero-bg-header-lightMode: rgb(233, 239, 239);
	--hero-bg-header-darkMode: #0d1117;
	--hero-bg-border-lightMode: rgb(200, 200, 200);
	--hero-bg-border-darkMode: #161b22;
	--hero-text-lightMode: #484848;
	--hero-text-darkMode: rgb(233, 239, 239);
	/* accent colors  */
	--decoration-text-green-lightMode: rgb(21, 170, 81);
	--decoration-text-green-darkMode: rgb(23, 215, 100);
	--decoration-border-green-lightMode: rgb(40, 196, 102);
	--decoration-border-green-darkMode: rgb(38, 241, 119);
	/* footer  */
}
body.lightMode {
	/* main colors */
	--main-text: var(--main-text-lightMode);
	--main-bg: var(--main-bg-lightMode);
	/* navbar  */
	--nav-bg-color: var(--nav-bg-color-lightMode);
	--nav-text-color: var(--nav-text-color-lightMode);
	--nav-btn-color: var(--nav-btn-color-lightMode);
	--nav-btn-border-color: var(--nav-btn-border-lightMode);
	/* header */
	--bg-secondary: var(--hero-bg-header-lightMode);
	--bg-header-border: var(--hero-bg-border-lightMode);
	--text-header: var(--hero-text-lightMode);
	/* main  */
	--decoration-green: var(--decoration-text-green-lightMode);
	--decoration-border-green: var(--decoration-border-green-lightMode);
	/* footer  */
}

body.darkMode {
	/* main colors */
	--main-text: var(--main-text-darkMode);
	--main-bg: var(--main-bg-darkMode);
	/* navbar  */
	--nav-bg-color: var(--nav-bg-color-darkMode);
	--nav-text-color: var(--nav-text-color-darkMode);
	--nav-btn-color: var(--nav-btn-color-darkMode);
	--nav-btn-border-color: var(--nav-btn-border-darkMode);
	/* header  */
	--bg-secondary: var(--hero-bg-header-darkMode);
	--bg-header-border: var(--hero-bg-border-darkMode);
	--text-header: var(--hero-text-darkMode);
	/* main  */
	--decoration-green: var(--decoration-text-green-darkMode);
	--decoration-border-green: var(--decoration-border-green-darkMode);
	/* footer  */
}
